APP_NAME="Sistema Integral de Gestión de Seguridad Municipal"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/seguridad
APP_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=seguridad_municipal
DB_USERNAME=root
DB_PASSWORD=

SESSION_LIFETIME=120
SESSION_NAME=sigsm_session

MAIL_MAILER=smtp
MAIL_HOST=mail.municipalidadchepica.cl
MAIL_PORT=587
MAIL_USERNAME=reuniones_seguridad@municipalidadchepica.cl
MAIL_PASSWORD=Chepica@2026.-
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=reuniones_seguridad@municipalidadchepica.cl
MAIL_FROM_NAME="SISTEMA INTEGRAL DE GESTIÓN DE SEGURIDAD MUNICIPAL"
